/*Note: This CSS styling is globle not restricted to Person.js so need to handle this*/

.Person{
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}